body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.biggerFont {
    font-size: 22px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex: 1;

}

.calc {
    display: flex;
    flex-direction: column;

    border: 8px;
    border-color: #273746e4;
    border-style: solid;
    border-radius: 15px;
    width: 220px;
    height: 300px;

    background-color: #273746e4;
}



.buttonBox {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 500px;

}




.display {
    display: flex;
    flex-direction: column;
    height: 45px;
    padding: 4px;
    border-bottom: 8px;
    border-style: solid;
    border-color: #273746e4;
    background-color: #3b516547;
    text-align: end;
    color: #f5f5f5;
}


.up {
    flex-grow: 1;
    font-size: 11px;
    height: 12px;
    align-content: center;
}

.down {
    flex-grow: 3;
    align-content: center;
    font-size: 22px;
    background-color: #3b516547;
}

button {

    border: 1px;
    border-radius: 5px;
    border-style: ridge;
    border-color: #01080f4e;
    background-color: rgb(45, 129, 184);
    color: #f5f5f5;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    filter: brightness(95%);
}

button:active {
    position: relative;
    top: 1px;
    filter: brightness(85%);

}

.buttonsTop {
    display: flex;
    height: 25%;
    gap: 0px;

}

.buttonsTop button {
    flex: 1;
    background-color: rgba(45, 129, 184, 0.745);
}




.buttonsBottom {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
}

.buttonsLeft {
    display: flex;
    flex-wrap: wrap;
}

.buttonsLeft button {
    flex: 1;
    width: 33%;
    flex-basis: 33%;
}

.buttonsRight {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}

.buttonsRight button {

    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex: 1;
    justify-content: center;
    background-color: rgba(45, 129, 184, 0.745);
}





label {
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(56, 56, 56);
}

input {
    background: var(--accent);

    padding: 1ex 2ex;
    color: rgb(22, 22, 22);
    width: auto;
    text-align: right;

}

:root {
    --accent: #83b4e4;
}


.header {
    display: flex;
    padding: 12px;
    background-color: cornflowerblue;
    justify-content: center;
    font-size: 40px;
    color: lightcyan;
}

.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    align-content: center;
    padding-left: 16px;
    text-align: center;
    margin-top: auto;

}