body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;
    gap: 20em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 8px;
}



.buttonBox {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 500px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}


label {
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(56, 56, 56);
}

input {
    background: var(--accent);
    border-radius: 16px;
    padding: 1ex 2ex;
    color: rgb(22, 22, 22);
    width: 150px;
    text-align: right;

}

:root {
    --accent: #83b4e4;
}


.header {
    display: flex;
    padding: 12px;
    background-color: cornflowerblue;
    justify-content: center;
    font-size: 40px;
    color: lightcyan;
}

.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    align-content: center;
    padding-left: 16px;
    text-align: center;
    margin-top: auto;
}